<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clps.cm.mapper.PhonePackageMapper" >
  <resultMap id="BaseResultMap" type="com.clps.cm.pojo.PhonePackage" >
    <id column="PP_ID" property="ppId" jdbcType="INTEGER" />
    <result column="PP_NAME" property="ppName" jdbcType="VARCHAR" />
    <result column="PP_FEE" property="ppFee" jdbcType="INTEGER" />
    <result column="IS_AVALIABLE" property="isAvaliable" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PP_ID, PP_NAME, PP_FEE, IS_AVALIABLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_phone_package
    where PP_ID = #{ppId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_phone_package
    where PP_ID = #{ppId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.clps.cm.pojo.PhonePackage" >
    insert into t_phone_package (PP_ID, PP_NAME, PP_FEE, 
      IS_AVALIABLE)
    values (#{ppId,jdbcType=INTEGER}, #{ppName,jdbcType=VARCHAR}, #{ppFee,jdbcType=INTEGER}, 
      #{isAvaliable,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clps.cm.pojo.PhonePackage" >
    insert into t_phone_package
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ppId != null" >
        PP_ID,
      </if>
      <if test="ppName != null" >
        PP_NAME,
      </if>
      <if test="ppFee != null" >
        PP_FEE,
      </if>
      <if test="isAvaliable != null" >
        IS_AVALIABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ppId != null" >
        #{ppId,jdbcType=INTEGER},
      </if>
      <if test="ppName != null" >
        #{ppName,jdbcType=VARCHAR},
      </if>
      <if test="ppFee != null" >
        #{ppFee,jdbcType=INTEGER},
      </if>
      <if test="isAvaliable != null" >
        #{isAvaliable,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clps.cm.pojo.PhonePackage" >
    update t_phone_package
    <set >
      <if test="ppName != null" >
        PP_NAME = #{ppName,jdbcType=VARCHAR},
      </if>
      <if test="ppFee != null" >
        PP_FEE = #{ppFee,jdbcType=INTEGER},
      </if>
      <if test="isAvaliable != null" >
        IS_AVALIABLE = #{isAvaliable,jdbcType=CHAR},
      </if>
    </set>
    where PP_ID = #{ppId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clps.cm.pojo.PhonePackage" >
    update t_phone_package
    set PP_NAME = #{ppName,jdbcType=VARCHAR},
      PP_FEE = #{ppFee,jdbcType=INTEGER},
      IS_AVALIABLE = #{isAvaliable,jdbcType=CHAR}
    where PP_ID = #{ppId,jdbcType=INTEGER}
  </update>
</mapper>