<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clps.cm.mapper.RechargeCardMapper" >
  <resultMap id="BaseResultMap" type="com.clps.cm.pojo.RechargeCard" >
    <id column="CARD_ID" property="cardId" jdbcType="INTEGER" />
    <result column="CARD_PWD" property="cardPwd" jdbcType="VARCHAR" />
    <result column="CARD_CHARGE" property="cardCharge" jdbcType="INTEGER" />
    <result column="IS_AVAILABLE" property="isAvailable" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CARD_ID, CARD_PWD, CARD_CHARGE, IS_AVAILABLE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_recharge_card
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_recharge_card
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.clps.cm.pojo.RechargeCard" >
    insert into t_recharge_card (CARD_ID, CARD_PWD, CARD_CHARGE, 
      IS_AVAILABLE)
    values (#{cardId,jdbcType=INTEGER}, #{cardPwd,jdbcType=VARCHAR}, #{cardCharge,jdbcType=INTEGER}, 
      #{isAvailable,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clps.cm.pojo.RechargeCard" >
    insert into t_recharge_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        CARD_ID,
      </if>
      <if test="cardPwd != null" >
        CARD_PWD,
      </if>
      <if test="cardCharge != null" >
        CARD_CHARGE,
      </if>
      <if test="isAvailable != null" >
        IS_AVAILABLE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardId != null" >
        #{cardId,jdbcType=INTEGER},
      </if>
      <if test="cardPwd != null" >
        #{cardPwd,jdbcType=VARCHAR},
      </if>
      <if test="cardCharge != null" >
        #{cardCharge,jdbcType=INTEGER},
      </if>
      <if test="isAvailable != null" >
        #{isAvailable,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clps.cm.pojo.RechargeCard" >
    update t_recharge_card
    <set >
      <if test="cardPwd != null" >
        CARD_PWD = #{cardPwd,jdbcType=VARCHAR},
      </if>
      <if test="cardCharge != null" >
        CARD_CHARGE = #{cardCharge,jdbcType=INTEGER},
      </if>
      <if test="isAvailable != null" >
        IS_AVAILABLE = #{isAvailable,jdbcType=CHAR},
      </if>
    </set>
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clps.cm.pojo.RechargeCard" >
    update t_recharge_card
    set CARD_PWD = #{cardPwd,jdbcType=VARCHAR},
      CARD_CHARGE = #{cardCharge,jdbcType=INTEGER},
      IS_AVAILABLE = #{isAvailable,jdbcType=CHAR}
    where CARD_ID = #{cardId,jdbcType=INTEGER}
  </update>
</mapper>