<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clps.cm.mapper.RechargeTypeMapper" >
  <resultMap id="BaseResultMap" type="com.clps.cm.pojo.RechargeType" >
    <id column="RECHARGE_TYPE_ID" property="rechargeTypeId" jdbcType="INTEGER" />
    <result column="RECHARGE_TYPE_NAME" property="rechargeTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RECHARGE_TYPE_ID, RECHARGE_TYPE_NAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_recharge_type
    where RECHARGE_TYPE_ID = #{rechargeTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_recharge_type
    where RECHARGE_TYPE_ID = #{rechargeTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.clps.cm.pojo.RechargeType" >
    insert into t_recharge_type (RECHARGE_TYPE_ID, RECHARGE_TYPE_NAME)
    values (#{rechargeTypeId,jdbcType=INTEGER}, #{rechargeTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clps.cm.pojo.RechargeType" >
    insert into t_recharge_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rechargeTypeId != null" >
        RECHARGE_TYPE_ID,
      </if>
      <if test="rechargeTypeName != null" >
        RECHARGE_TYPE_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rechargeTypeId != null" >
        #{rechargeTypeId,jdbcType=INTEGER},
      </if>
      <if test="rechargeTypeName != null" >
        #{rechargeTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clps.cm.pojo.RechargeType" >
    update t_recharge_type
    <set >
      <if test="rechargeTypeName != null" >
        RECHARGE_TYPE_NAME = #{rechargeTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where RECHARGE_TYPE_ID = #{rechargeTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clps.cm.pojo.RechargeType" >
    update t_recharge_type
    set RECHARGE_TYPE_NAME = #{rechargeTypeName,jdbcType=VARCHAR}
    where RECHARGE_TYPE_ID = #{rechargeTypeId,jdbcType=INTEGER}
  </update>
</mapper>